:root {
    --primary-color: #033f5f;
    --second-color: #007CBC;
    --nuetral-grey:#747e83;
    --nuetral-light: #ffffff;
    --highlight-color: #f5ba36;
}
* {
    box-sizing:border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
}
h1{
    font-size:2.5rem;
    color: var(--nuetral-light);
}
h2{
    font-size:2rem;
    color: var(--primary-color);
}
h3{
    font-size:1.5rem;
    color: var(--primary-color);
}
p, ul, ol {
    font-size:1.25rem;
    line-height: 1.75rem;
    color: var(--nuetral-grey);
}
img {
    max-width:100%;
}

header{
    width:100%;
    display:inline-flex;
    align-items: center;
    padding:0 30px;
    text-align:center;
    border-bottom:white 2px solid;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .25);
}

.menu ul {
    display:inline-flex;
    list-style:none;
}
.menu ul li a {
    color:white;
    text-decoration: none;
    padding:0 10px;
}

/*       layout         */
.container {
    width: min(95%, 75rem);
    margin: 0 auto;
    display:grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
}
.container > * {
    grid-column: span 12;
}

.container-lg {
    width: min(100%, 100rem);
    margin: 0 auto;
    display:grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
}
.container-lg > * {
    grid-column: span 12;
}
.portfolio {
    display:grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3,1fr);
    padding-bottom:2rem;
}

.primary-color {
    background-color: var(--primary-color);
}
.highlight-color {
    background-color: var(--highlight-color);
}
.text-center {
    text-align:center;
}

/*       Desktop Layout         */
@media screen and (min-width: 40rem){
    .site-id {
        grid-column: 1 / span 6;
    }
    .menu {
        grid-column: 7 / span 6;
    }
    .company {
        grid-column: 1 / span 8;
    }
    .company-image {
        grid-column: 9 / span 4;
    }
    .portfolio {
        display:grid;
        gap: 1.5rem;
        grid-template-columns: repeat(5,1fr);
    }
    .menu ul {
        float:right;
    }
}