* {
  box-sizing:border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("../images/topography.png");
    }
header {
    background-color:#8799c2;
    color:white;
    padding: 2rem;
}
  h1 {
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
  }
  h2 {
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
  }
  h3 {
    font-size: 1.25em;
    font-family: 'Playfair Display', serif;
  }
  p {
    font-family: 'Open Sans', sans-serif;
  }
  img {
      border-radius: 50%;
      border: 5px solid #8799c2;
  }
  /*   links  */
  .socials i {
    text-decoration:none;
    color:#8799c2;
    font-size:2em;
    padding:7px;
  }
  .socials {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
  }

  /*   layout  */
.container {
    background-color:white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
  }
.container > * {
  grid-column: span 12;
}

/*  desktop layout  */
@media screen and (min-width: 40rem) {
  .col-span-8 {
    grid-column: span 8;
  }
  .col-span-4 {
    grid-column: span 4;
  }
}